In [9]:
# importing libraries
import pandas as pd
import numpy as np
from urllib.parse import urlparse
import mlflow
import mlflow.sklearn
# Get url from Dvc
import dvc.api

In [16]:
filename = ('../data/store.csv')
data = pd.read_csv(filename)
data.shape

(1115, 10)

In [17]:
data  = pd.read_csv('../data/store.csv')
data.shape

(1115, 10)

In [18]:
data = data.drop('Assortment', inplace=False, axis=1)
data.shape

(1115, 9)

In [19]:
data.to_csv(filename, index= False)
data.head()

,Store,StoreType,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN