In [11]:
from google_drive_downloader import GoogleDriveDownloader as gdd

In [12]:
from google_drive_downloader import GoogleDriveDownloader as gdd

gdd.download_file_from_google_drive(file_id='1NkFzQ5N-I1J34-0uStvw0xaPbntqk7AV',
dest_path='content/rosseman.zip',   
unzip=True)

In [ ]:
# since the size of teras package is too big I have done Rnn in google collab.

In [2]:
from IPython.display import Markdown, display, Image
import warnings
warnings.filterwarnings('ignore')

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import numpy as np
from statsmodels.tsa.stattools import adfuller, acf, pacf
import pandas as pd
from sklearn.preprocessing import Normalizer, MinMaxScaler, StandardScaler, RobustScaler
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import datetime
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
sns.set()

In [7]:
def read_csv(csv_path, missing_values=[]):
  """
  reads csv file
  """
  try:
    df = pd.read_csv(csv_path, na_values=missing_values)
    print("file read as csv")
    return df
  except FileNotFoundError:
    print("file not found")

In [16]:
df_train_store = read_csv("content/rossman data/train_store.csv")
test = read_csv("content/rossman data/test.csv")

file read as csv
file read as csv

In [21]:
# A quick view a data on hand
display(df_train_store.head())

   Store  DayOfWeek  Sales  Customers  ...  Day  Weekends  Weekdays  Monthcategory
0      1          1   5263        555  ...   31         0         1              1
1      2          1   6064        625  ...   31         0         1              1
2      3          1   8314        821  ...   31         0         1              1
3      4          1  13995       1498  ...   31         0         1              1
4      5          1   4822        559  ...   31         0         1              1

[5 rows x 24 columns]

In [22]:
display(df_train_store.describe())

               Store  DayOfWeek  ...  Weekdays  Monthcategory
count  844338.000000   844338.0  ...  844338.0  844338.000000
mean      558.421374        1.0  ...       1.0       1.016797
std       321.730861        0.0  ...       0.0       0.810570
min         1.000000        1.0  ...       1.0       0.000000
25%       280.000000        1.0  ...       1.0       0.000000
50%       558.000000        1.0  ...       1.0       1.000000
75%       837.000000        1.0  ...       1.0       2.000000
max      1115.000000        1.0  ...       1.0       2.000000

[8 rows x 24 columns]

In [23]:
display(df_train_store.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844338 entries, 0 to 844337
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      844338 non-null  int64
 1   DayOfWeek                  844338 non-null  int64
 2   Sales                      844338 non-null  int64
 3   Customers                  844338 non-null  int64
 4   Open                       844338 non-null  int64
 5   Promo                      844338 non-null  int64
 6   StateHoliday               844338 non-null  int64
 7   SchoolHoliday              844338 non-null  int64
 8   StoreType                  844338 non-null  int64
 9   Assortment                 844338 non-null  int64
 10  CompetitionDistance        844338 non-null  float64
 11  CompetitionOpenSinceMonth  844338 non-null  float64
 12  CompetitionOpenSinceYear   844338 non-null  float64
 13  Promo2                     844338 non-null  int64
 14  Promo2SinceWeek            844338 non-null  float64
 15  Promo2SinceYear            844338 non-null  float64
 16  PromoInterval              844338 non-null  int64
 17  Month                      844338 non-null  int64
 18  Year                       844338 non-null  int64
 19  SalesperCustomer           844338 non-null  float64
 20  Day                        844338 non-null  int64
 21  Weekends                   844338 non-null  int64
 22  Weekdays                   844338 non-null  int64
 23  Monthcategory              844338 non-null  int64
dtypes: float64(6), int64(18)
memory usage: 154.6 MB

None